.copyright{
  padding: 20px 40px;
  border-top: 2px solid rgba(0,0,0, 0.1);
  background: rgba(228,222,222,);
  text-align: center;
}

.copyright p:nth-child(1){
  color: #333;
}

.copyright a {
  color: #acac15;
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: Georgia, sans-serif;
}
 header {
  font-family: Georgia, sans-serif;
}